In [1]:
from absenteeism_module import *

In [2]:
pd.read_csv('Absenteeism_new_data.csv').head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0
4,14,10,08/06/2018,155,12,34,237.656,25,1,2,0

In [3]:
model = absenteeism_model('model', 'scaler')

In [4]:
model.load_and_clean_data('Absenteeism_new_data.csv')

In [5]:
# Install a conda package in the current Jupyter kernel
# import sys
# !conda install --yes --prefix {sys.prefix} pymysql

In [6]:
import pymysql

In [7]:
conn = pymysql.connect(database = 'predicted_outputs', user = 'root', password = 'Wcal990405!')

In [8]:
cursor = conn.cursor()

In [9]:
df_new_obs = model.predicted_outputs()

In [10]:
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.113927,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.871085,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.292554,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.206714,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.756097,1

In [11]:
# no information stored yet - will return 0
cursor.execute('SELECT * FROM predicted_outputs;')

0

In [12]:
insert_query = 'INSERT INTO predicted_outputs VALUES '

In [13]:
df_new_obs.shape

(40, 13)

In [14]:
df_new_obs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Probability', 'Prediction'], dtype=object)

In [15]:
for i in range(df_new_obs.shape[0]):
    insert_query += '('
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
        
    insert_query = insert_query[:-2] + '), '

In [16]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.11392723976518346, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8710849246652652, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.2925540706927035, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.206713917884372, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7560969426726329, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7225263278489328, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.586702313359471, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.11392723976518346, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.12747004586038171, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5227080856964466, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.423663823737825, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6194628916292801, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.27638775163596385, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.11392723976518346, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.07015642779168557, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1610467822848017, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6194628916292801, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4907938858307604, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.3696653720262595, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5012003446421152, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13217244251784713, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.04107946910563894, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5330828146235599, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5330828146235599, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.04107946910563894, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5500394171530409, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.28479066045841195, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6118370100191417, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13217244251784713, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6118370100191417, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.26201895376152506, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13217244251784713, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.48445630286676294, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.2658555597830466, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9752901157541882, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9294533887605418, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7711508834139448, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.016828050116118203, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2980816885745161, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.057430346118996126, 0), '

In [17]:
insert_query = insert_query[:-2] + ';'

In [18]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.11392723976518346, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8710849246652652, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.2925540706927035, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.206713917884372, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7560969426726329, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7225263278489328, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.586702313359471, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.11392723976518346, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.12747004586038171, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5227080856964466, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.423663823737825, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6194628916292801, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.27638775163596385, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.11392723976518346, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.07015642779168557, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1610467822848017, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6194628916292801, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4907938858307604, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.3696653720262595, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5012003446421152, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13217244251784713, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.04107946910563894, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5330828146235599, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5330828146235599, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.04107946910563894, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5500394171530409, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.28479066045841195, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6118370100191417, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13217244251784713, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6118370100191417, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.26201895376152506, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13217244251784713, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.48445630286676294, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.2658555597830466, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9752901157541882, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9294533887605418, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7711508834139448, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.016828050116118203, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2980816885745161, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.057430346118996126, 0);'

In [19]:
cursor.execute(insert_query)

40

In [20]:
conn.commit()

In [21]:
conn.close()