In [1]:
import pandas as pd
import numpy as np

### Machine Learning - Logistic Regression

In [2]:
# read preprocessed data
data = pd.read_csv("Absenteeism_preprocessed.csv")

In [3]:
data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [4]:
data['Absenteeism Time in Hours'].median()

3.0

In [5]:
# class 1 is time in hours > 3
targets = np.where(data['Absenteeism Time in Hours'] > data['Absenteeism Time in Hours'].median(), 1, 0)

In [6]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [7]:
data['Excessive Absenteeism'] = targets

data.head()

In [8]:
# proportion of class 1
targets.sum() / targets.shape[0]

0.45571428571428574

In [9]:
data_2 = data.drop(columns = ['Absenteeism Time in Hours', 'Day of the Week',
                             'Daily Work Load Average', 'Distance to Work'], axis = 1)

In [10]:
data_2.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

### Select inputs for the regression

In [11]:
data_2.shape

(700, 12)

In [12]:
data_2.iloc[:, :-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [13]:
unscaled_inputs = data_2.iloc[:, :-1]

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
from sklearn.base import BaseEstimator, TransformerMixin

class CustomScaler(BaseEstimator, TransformerMixin):
    
    def __init__(self, columns, copy = True, with_mean = True, with_std = True):
        self.scaler = StandardScaler(copy, with_mean, with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y = None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis = 1)[init_col_order]

In [16]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [17]:
#columns_to_scale = ['Month Value',
#       'Day of the Week', 'Transportation Expense', 'Distance to Work',
#       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
#       'Children', 'Pets']

columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [18]:
absenteeism_scaler = CustomScaler(columns_to_scale)
absenteeism_scaler.fit(unscaled_inputs)
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

C:\Users\wooch\miniconda3\envs\cpsc330\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass copy=True, with_mean=True, with_std=True as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [19]:
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [20]:
scaled_inputs.shape

(700, 11)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 123)

In [23]:
x_train.shape

(560, 11)

In [24]:
x_test.shape

(140, 11)

### Logistic Regression

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [26]:
reg = LogisticRegression()

In [27]:
reg.fit(x_train, y_train)

LogisticRegression()

In [28]:
reg.score(x_train, y_train)

0.775

### Manually check the accuracy

In [29]:
# predictions
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 1])

In [30]:
model_outputs == y_train

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True, False,  True,  True,
        True,  True, False,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True, False,  True, False,
        True,  True,  True, False,  True, False, False,  True,  True,
        True, False,  True,  True, False, False, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True, False,  True, False, False,  True,  True,
       False,  True,  True, False,  True,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False, False,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False, False,  True,  True, False,  True, False,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True, False,  True,  True, False,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True, False, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False, False])

In [31]:
np.sum((model_outputs == y_train))

434

In [32]:
model_outputs.shape[0]

560

In [33]:
np.sum((model_outputs == y_train)) / model_outputs.shape[0]

0.775

We get the same accuracy

### Intercept and Coefficients

In [34]:
reg.intercept_

array([-1.58313536])

In [35]:
reg.coef_

array([[ 2.80975862,  0.74492019,  3.02482701,  0.79534817,  0.14580932,
         0.61231181, -0.233286  ,  0.34263639, -0.22225673,  0.46156761,
        -0.31746703]])

In [36]:
feature_names = unscaled_inputs.columns.values

In [37]:
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_names)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

              Feature name  Coefficient
0                 Reason_1     2.809759
1                 Reason_2     0.744920
2                 Reason_3     3.024827
3                 Reason_4     0.795348
4              Month Value     0.145809
5   Transportation Expense     0.612312
6                      Age    -0.233286
7          Body Mass Index     0.342636
8                Education    -0.222257
9                 Children     0.461568
10                    Pets    -0.317467

In [38]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -1.583135
1                 Reason_1     2.809759
2                 Reason_2     0.744920
3                 Reason_3     3.024827
4                 Reason_4     0.795348
5              Month Value     0.145809
6   Transportation Expense     0.612312
7                      Age    -0.233286
8          Body Mass Index     0.342636
9                Education    -0.222257
10                Children     0.461568
11                    Pets    -0.317467

### Interpreting coefficients

In [39]:
# reason_1 = various diseases, reason_2 = pregnancy/maternity leave, reason_3 = poisoning, reason_4 = light diseases

summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)
summary_table.sort_values('Odds_ratio', ascending = False)

              Feature name  Coefficient  Odds_ratio
3                 Reason_3     3.024827   20.590443
1                 Reason_1     2.809759   16.605909
4                 Reason_4     0.795348    2.215212
2                 Reason_2     0.744920    2.106273
6   Transportation Expense     0.612312    1.844691
10                Children     0.461568    1.586559
8          Body Mass Index     0.342636    1.408656
5              Month Value     0.145809    1.156976
9                Education    -0.222257    0.800710
7                      Age    -0.233286    0.791927
11                    Pets    -0.317467    0.727991
0                Intercept    -1.583135    0.205330

We can see that the 4 reasons have the biggest odds_ratio

### Testing

In [40]:
reg.score(x_test, y_test)

0.7

In [41]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.73687697, 0.26312303],
       [0.6205828 , 0.3794172 ],
       [0.78938282, 0.21061718],
       [0.89020816, 0.10979184],
       [0.85679862, 0.14320138],
       [0.81926388, 0.18073612],
       [0.76535619, 0.23464381],
       [0.32644266, 0.67355734],
       [0.76535619, 0.23464381],
       [0.78237815, 0.21762185],
       [0.42217998, 0.57782002],
       [0.54549683, 0.45450317],
       [0.76227659, 0.23772341],
       [0.56094019, 0.43905981],
       [0.29739759, 0.70260241],
       [0.12204698, 0.87795302],
       [0.41198572, 0.58801428],
       [0.53108072, 0.46891928],
       [0.75414649, 0.24585351],
       [0.30616899, 0.69383101],
       [0.82859321, 0.17140679],
       [0.24387311, 0.75612689],
       [0.78237815, 0.21762185],
       [0.06068372, 0.93931628],
       [0.34797952, 0.65202048],
       [0.07491241, 0.92508759],
       [0.02790516, 0.97209484],
       [0.36388388, 0.63611612],
       [0.251095  , 0.748905  ],
       [0.36405693, 0.63594307],
       [0.5162232 , 0.4837768 ],
       [0.89394303, 0.10605697],
       [0.30319324, 0.69680676],
       [0.81101389, 0.18898611],
       [0.71595392, 0.28404608],
       [0.6915984 , 0.3084016 ],
       [0.48433133, 0.51566867],
       [0.78237815, 0.21762185],
       [0.29944201, 0.70055799],
       [0.5155437 , 0.4844563 ],
       [0.5155437 , 0.4844563 ],
       [0.04396355, 0.95603645],
       [0.1568603 , 0.8431397 ],
       [0.06742892, 0.93257108],
       [0.28227264, 0.71772736],
       [0.74219005, 0.25780995],
       [0.61529575, 0.38470425],
       [0.29944201, 0.70055799],
       [0.21705025, 0.78294975],
       [0.24262947, 0.75737053],
       [0.85096753, 0.14903247],
       [0.2887729 , 0.7112271 ],
       [0.1568603 , 0.8431397 ],
       [0.82859321, 0.17140679],
       [0.36388388, 0.63611612],
       [0.36710135, 0.63289865],
       [0.77703345, 0.22296655],
       [0.54549683, 0.45450317],
       [0.38675646, 0.61324354],
       [0.24535379, 0.75464621],
       [0.84888594, 0.15111406],
       [0.77997706, 0.22002294],
       [0.65318509, 0.34681491],
       [0.30824726, 0.69175274],
       [0.78237815, 0.21762185],
       [0.60539555, 0.39460445],
       [0.30319324, 0.69680676],
       [0.4967555 , 0.5032445 ],
       [0.35430336, 0.64569664],
       [0.29959885, 0.70040115],
       [0.13723258, 0.86276742],
       [0.78237815, 0.21762185],
       [0.46323878, 0.53676122],
       [0.84812414, 0.15187586],
       [0.92951008, 0.07048992],
       [0.25163125, 0.74836875],
       [0.71598694, 0.28401306],
       [0.76036638, 0.23963362],
       [0.47394233, 0.52605767],
       [0.68988662, 0.31011338],
       [0.73687697, 0.26312303],
       [0.89020816, 0.10979184],
       [0.29957211, 0.70042789],
       [0.93508441, 0.06491559],
       [0.78938282, 0.21061718],
       [0.25580812, 0.74419188],
       [0.91459197, 0.08540803],
       [0.71312523, 0.28687477],
       [0.78938282, 0.21061718],
       [0.50514102, 0.49485898],
       [0.87252995, 0.12747005],
       [0.57049539, 0.42950461],
       [0.05768234, 0.94231766],
       [0.76786935, 0.23213065],
       [0.13138931, 0.86861069],
       [0.29078257, 0.70921743],
       [0.78938282, 0.21061718],
       [0.19971171, 0.80028829],
       [0.70991041, 0.29008959],
       [0.22399094, 0.77600906],
       [0.77853203, 0.22146797],
       [0.3342995 , 0.6657005 ],
       [0.14356246, 0.85643754],
       [0.90183299, 0.09816701],
       [0.86297893, 0.13702107],
       [0.20758427, 0.79241573],
       [0.75779761, 0.24220239],
       [0.89394303, 0.10605697],
       [0.53697627, 0.46302373],
       [0.52593292, 0.47406708],
       [0.5207015 , 0.4792985 ],
       [0.72041865, 0.27958135],
       [0.25779012, 0.74220988],
       [0.54034178, 0.45965822],
       [0.59076593, 0.40923407],
       [0.7622535 , 0.2377465 ],
       [0.78938282, 0.21061718],
       [0.44696242, 0.55303758],
       [0.53837009, 0.46162991],
       [0.78938282, 0.21061718],
       [0.72041865, 0.27958135],
       [0.752699  , 0.247301  ],
       [0.42210636, 0.57789364],
       [0.41205884, 0.58794116],
       [0.31205965, 0.68794035],
       [0.87548587, 0.12451413],
       [0.89394303, 0.10605697],
       [0.42579098, 0.57420902],
       [0.70741232, 0.29258768],
       [0.47394233, 0.52605767],
       [0.36710135, 0.63289865],
       [0.44261135, 0.55738865],
       [0.10602713, 0.89397287],
       [0.60079114, 0.39920886],
       [0.68421043, 0.31578957],
       [0.78237815, 0.21762185],
       [0.1230643 , 0.8769357 ],
       [0.30824726, 0.69175274],
       [0.37196454, 0.62803546],
       [0.86815223, 0.13184777]])

In [42]:
predicted_proba.shape

(140, 2)

In [43]:
predicted_proba[:,1]

array([0.26312303, 0.3794172 , 0.21061718, 0.10979184, 0.14320138,
       0.18073612, 0.23464381, 0.67355734, 0.23464381, 0.21762185,
       0.57782002, 0.45450317, 0.23772341, 0.43905981, 0.70260241,
       0.87795302, 0.58801428, 0.46891928, 0.24585351, 0.69383101,
       0.17140679, 0.75612689, 0.21762185, 0.93931628, 0.65202048,
       0.92508759, 0.97209484, 0.63611612, 0.748905  , 0.63594307,
       0.4837768 , 0.10605697, 0.69680676, 0.18898611, 0.28404608,
       0.3084016 , 0.51566867, 0.21762185, 0.70055799, 0.4844563 ,
       0.4844563 , 0.95603645, 0.8431397 , 0.93257108, 0.71772736,
       0.25780995, 0.38470425, 0.70055799, 0.78294975, 0.75737053,
       0.14903247, 0.7112271 , 0.8431397 , 0.17140679, 0.63611612,
       0.63289865, 0.22296655, 0.45450317, 0.61324354, 0.75464621,
       0.15111406, 0.22002294, 0.34681491, 0.69175274, 0.21762185,
       0.39460445, 0.69680676, 0.5032445 , 0.64569664, 0.70040115,
       0.86276742, 0.21762185, 0.53676122, 0.15187586, 0.07048992,
       0.74836875, 0.28401306, 0.23963362, 0.52605767, 0.31011338,
       0.26312303, 0.10979184, 0.70042789, 0.06491559, 0.21061718,
       0.74419188, 0.08540803, 0.28687477, 0.21061718, 0.49485898,
       0.12747005, 0.42950461, 0.94231766, 0.23213065, 0.86861069,
       0.70921743, 0.21061718, 0.80028829, 0.29008959, 0.77600906,
       0.22146797, 0.6657005 , 0.85643754, 0.09816701, 0.13702107,
       0.79241573, 0.24220239, 0.10605697, 0.46302373, 0.47406708,
       0.4792985 , 0.27958135, 0.74220988, 0.45965822, 0.40923407,
       0.2377465 , 0.21061718, 0.55303758, 0.46162991, 0.21061718,
       0.27958135, 0.247301  , 0.57789364, 0.58794116, 0.68794035,
       0.12451413, 0.10605697, 0.57420902, 0.29258768, 0.52605767,
       0.63289865, 0.55738865, 0.89397287, 0.39920886, 0.31578957,
       0.21762185, 0.8769357 , 0.69175274, 0.62803546, 0.13184777])

### Saving the model with pickle

In [44]:
import pickle

In [45]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [46]:
with open('scaler', 'wb') as file:
    pickle.dump(absenteeism_scaler, file)